<!-- Banner: Prenota il tuo appuntamento -->
<div class="row">
  <div class="col-lg-12">
    <div class="banner-container">
      <img src="assets/img/caso-chiuso.jpg" class="img-fluid" alt="caso-chiuso">
      <h1 class="overlay">
        PRENOTA IL TUO APPUNTAMENTO
      </h1>
    </div>
  </div>
</div>

<!-- Sezione del Form -->
<section class="row contenitore-form-section">
  <!-- Colonna di sinistra: Testo -->
  <div class="col-lg-4 offset-lg-2 col-sx me-lg-5">
    <h3>PARLA CON I NOSTRI ESPERTI</h3>
    <p>&ldquo;Siamo lieti che tu abbia scelto lo Studio Legale Lex Legis come tua guida nel mondo legale. Per richiedere un appuntamento con uno dei nostri esperti avvocati, ti preghiamo di compilare il seguente modulo con le informazioni richieste. Garantiamo la massima riservatezza e la tua richiesta verrà elaborata nel minor tempo possibile.&rdquo;</p>
  </div>
  <!-- Colonna di destra: Form -->
  <div class="col-lg-4 col-dx ms-lg-5">
    <!-- Form -->
    <form #myForm (submit)="inviaDati($event)">
      <!-- Nome -->
      <div class="mb-3">
        <input id="nome" type="text" class="form-control" placeholder="Nome">
      </div>
      <!-- Cognome -->
      <div class="mb-3">
        <input id="cognome" type="text" class="form-control" placeholder="Cognome">
      </div>
      <!-- Numero -->
      <div class="mb-3">
        <input id="numero" type="text" class="form-control" placeholder="Numero">
      </div>
      <!-- Email -->
      <div class="mb-3">
        <input id="email" type="email" class="form-control" placeholder="Email">
      </div>
      <!-- Text-Area -->
      <div class="form-floating">
        <textarea id="messaggio" class="form-control" placeholder="Lascia un messaggio" style="height: 100px"></textarea>
      </div>
      <!-- Tasto Invia -->
      <button type="submit" class="btn border border-0 mt-2">INVIA</button>
    </form>

    <!-- Messaggio di conferma (SweetAlert) -->
    <div *ngIf="messaggioConferma">
      {{ messaggioConferma }}
    </div>
  </div>
</section>

  <!-- Spazio Pubblicitario -->
  <section>
    <app-sponsor></app-sponsor>
  </section>
