<div class="row foot">
  <!-- Colonna 1 -->
  <div class="col-lg-3 mt-lg-5">
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/chisono">Chi sono</li>
      <li routerLink="/contatti">Contatti</li>
      <li routerLink="/prenota">Prenota</li>
    </ul>
  </div>
  <!-- Colonna 2 -->
  <div class="col-lg-3 mt-lg-5">
    <ul>
      <li href="#">Lo studio</li>
      <li href="#">Le aree di attività</li>
      <li href="#">I professionisti</li>
      <li href="#">Pubblicazioni</li>
    </ul>
  </div>
  <!-- Colonna 3 -->
  <div class="col-lg-3 mt-lg-5">
    <ul>
      <li href="#">P.I. 04422731002</li>
      <li href="#">Viale Giulio Cesare n.6 – 00192 Roma</li>
      <li><a href="tel:+39.06.3221238">Tel: +39.06.3221238</a></li>
      <li><a href="fax:+39.06.3221134">Fax: +39.06.3221134</a></li>
      <li><a href="mailto:studiolegale@lexlegis.it">E-mail: studiolegale@lexlegis.it</a>
    </ul>
  </div>
</div>
