@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sawarabi+Gothic&display=swap');

.foot {
  background-color: #0E182B;
  color: whitesmoke;
  padding: 70px;
  font-family: 'Inter', sans-serif;
}

li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li:hover {
  color: #90C2E7;
}

.active {
  color: #90C2E7 !important;
  font-weight: bolder;
}
