<div class="row foot">
  <div class="col-lg-3">
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/chisono">Chi sono</li>
      <li routerLink="/contatti">Contatti</li>
      <li routerLink="/prenota">Prenota</li>
    </ul>
  </div>
  <div class="col-lg-3">
    <ul>
      <li href="#">Lo studio</li>
      <li href="#">Le aree di attività</li>
      <li href="#">I professionisti</li>
      <li href="#">Pubblicazioni</li>
    </ul>
  </div>
  <div class="col-lg-3">
    <ul>
      <li href="#">P.I. 04422731002</li>
      <li href="#">Viale Giulio Cesare n.6 – 00192 Roma</li>
      <li href="#">Tel: +39.06.3221238</li>
      <li href="#">Fax: +39.06.3221134</li>
      <li href="#">E-mail: studiolegale@lexlegis.it</li>
    </ul>
  </div>
</div>
