<div class="sponsor">
  <!-- Riga 1 -->
  <div class="row ms-5">

    <a class="col-lg-4 col-md-6 mt-4" target="_blank" (click)="open1()">
      <img src="assets/img/sponsor/poste-italiane.png" class="d-block w-75 img-fluid" alt="Poste Italiane"/>
    </a>
    <a class="col-lg-4 col-md-6 mt-4" target="_blank" (click)="open2()">
      <img src="assets/img/sponsor/la-repubblica.png" class="d-block w-75 img-fluid" alt="La repubblica"/>
    </a>
    <a class="col-lg-4 col-md-6 mt-4" target="_blank" (click)="open3()">
      <img src="assets/img/sponsor/ferrovie-italiane.png" class="d-block w-75 img-fluid" alt="Ferrovie dello Stato"/>
    </a>

    <!-- Riga 2 -->
    <a class="col-lg-4 col-md-6 mt-3" target="_blank" (click)="open4()">
      <img src="assets/img/sponsor/libero.png" class="d-block w-75 img-fluid" alt="Libero"/>
    </a>
    <a class="col-lg-4 col-md-6 mt-3" target="_blank" (click)="open5()">
      <img src="assets/img/sponsor/fanpage.png" class="d-block w-75 img-fluid" alt="Fanpage.it"/>
    </a>
    <a class="col-lg-4 col-md-6 mt-3" target="_blank" (click)="open6()">
      <img src="assets/img/sponsor/messaggero.png" class="d-block w-75 img-fluid" alt="Il Messaggero"/>
    </a>

  </div>
</div>
