<div class="sponsor mx-auto text-center">
  <!-- Riga 1 -->
  <div class="row">

    <a class="col-lg-4 mt-4" target="_blank" (click)="open1()">
      <img src="assets/img/sponsor/poste-italiane.png" class="d-block w-75" alt="Poste Italiane"/>
    </a>
    <a class="col-lg-4 mt-4" target="_blank" (click)="open2()">
      <img src="assets/img/sponsor/la-repubblica.png" class="d-block w-75" alt="La repubblica"/>
    </a>
    <a class="col-lg-4 mt-4" target="_blank" (click)="open3()">
      <img src="assets/img/sponsor/ferrovie-italiane.png" class="d-block w-75" alt="Ferrovie dello Stato"/>
    </a>

    <!-- Riga 2 -->
    <a class="col-lg-4 mt-3" target="_blank" (click)="open4()">
      <img src="assets/img/sponsor/libero.png" class="d-block w-75" alt="Libero"/>
    </a>
    <a class="col-lg-4 mt-5" target="_blank" (click)="open5()">
      <img src="assets/img/sponsor/fanpage.png" class="d-block w-75" alt="Fanpage.it"/>
    </a>
    <a class="col-lg-4 mt-5" target="_blank" (click)="open6()">
      <img src="assets/img/sponsor/messaggero.png" class="d-block w-75" alt="Il Messaggero"/>
    </a>

  </div>
</div>

<!-- Carosello -->
<!-- <div id="carousel" class="carousel slide mx-auto text-center">
  <div class="carousel-inner"> -->
    <!-- Slide 1 -->
    <!-- <div class="carousel-item active">
      <div class="row d-flex">
        <div class="col-lg-4">
          <img src="assets/img/sponsor/poste-italiane.png" class="d-block w-100 spaced-image" alt="Poste Italiane">
        </div>
        <div class="col-lg-4">
          <img src="assets/img/sponsor/la-repubblica.png" class="d-block w-100 spaced-image" alt="La repubblica">
        </div>
        <div class="col-lg-4">
          <img src="assets/img/sponsor/ferrovie-italiane.png" class="d-block w-100 spaced-image" alt="Ferrovie dello Stato">
        </div>
      </div>
    </div> -->
    <!-- Slide 2 -->
    <!-- <div class="carousel-item">
      <div class="row d-flex">
        <div class="col-lg-4">
          <img src="assets/img/sponsor/la-repubblica.png" class="d-block w-100 spaced-image" alt="La repubblica">
        </div>
        <div class="col-lg-4">
          <img src="assets/img/sponsor/ferrovie-italiane.png" class="d-block w-100 spaced-image" alt="Ferrovie dello Stato">
        </div>
        <div class="col-lg-4">
          <img src="assets/img/sponsor/poste-italiane.png" class="d-block w-100 spaced-image" alt="Poste Italiane">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
