<section class="row mt-5">
  <!-- Sezione1: Contattaci -->
  <div class="col-lg-6 offset-lg-2 contattaci-container">
    <h3>CONTATTACI</h3>
    <ul>
      <li><a href="tel:+39.06.3221238">Tel: +39.06.3221238</a></li>
      <li><a href="fax:+39.06.3221134">Fax: +39.06.3221134</a></li>
      <li><a href="mailto:studiolegale@lexlegis.it">E-mail: studiolegale@lexlegis.it</a></li>
      <!-- Prova Email Reale -->
      <!-- <li><a href="mailto:segreto.daniele1989@libero.it">E-mail: segreto.daniele1989@libero.it</a></li> -->
    </ul>
  </div>
  <!-- Sezione 2: Vienici a Trovare -->
  <div class="col-lg-6 offset-lg-2 mappa-container">
    <h3>VIENICI A TROVARE</h3>
    <ul>
      <li><u>Viale Giulio Cesare n.6 – 00192 Roma</u></li>
    </ul>
  </div>
  <!-- Mappa -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.0896083332204!2d12.46691427575073!3d41.912432363264394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f6fd1368ef%3A0x5ef2edf9bf4d616f!2sViale%20Giulio%20Cesare%2C%206%2C%2000192%20Roma%20RM!5e0!3m2!1sit!2sit!4v1697644159898!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!-- Sezione TaskList -->
<section class="row d-flex flex-column justify-content-center align-items-center task-section">
  <div class="col-lg-4 text-center">
    <h2>TASK LIST</h2>
    <!-- Accedo al Componente TaskList -->
    <button type="button" routerLink="/tasklist" class="btn btn-lg border border-0 w-100 py-3">CREA</button>
    <p>Un utente che interagisce con uno studio legale attraverso il suo sito web può svolgere diverse attività.</p>
  </div>
</section>
