<section class="row">
  <!-- Sezione 1: Avv. Ventura -->
  <!-- Colonna di sinistra -->
  <div class="col-lg-4 offset-lg-1 section-1 col-sx">
    <img src="assets/img/chisono.jpg" class="img-fluid" alt="chi-sono">
  </div>
  <!-- Colonna di destra -->
  <div class="col-lg-5 section-1 col-dx">
    <h3>AVV. VENTURA</h3>
    <p>&ldquo;Professionista altamente qualificata nel campo legale, con una vasta esperienza e una profonda conoscenza delle leggi e dei regolamenti pertinenti al suo settore di specializzazione. Con un approccio diligente e attento ai dettagli, si distingue per la sua capacità di analizzare casi complessi e fornire consulenza legale accurata e ben fondata ai suoi clienti.&rdquo;</p>
    <p>&ldquo;Dotata di un'eccezionale abilità comunicativa, eccelle nel negoziare accordi legali e nel rappresentare i suoi clienti in aula con competenza e determinazione.</p>
  </div>

    <!-- Sezione 2: Impegno costante -->
  <div class="col-lg-12 section-2">
    <h3>IMPEGNO COSTANTE</h3>
    <p>&ldquo;Oltre alle sue competenze professionali, dimostra un impegno costante per l'aggiornamento delle sue conoscenze, garantendo così che i suoi clienti ricevano la migliore assistenza legale possibile. La sua dedizione alla giustizia e al servizio ai clienti la rendono una risorsa preziosa nel mondo legale. La sua reputazione di professionista affidabile ed etica è ampiamente riconosciuta nella comunità legale.&rdquo;</p>
  </div>

  <!-- Immagine di chiusura (prima del footer) -->
  <img src="assets/img/team.jpg" class="img-fluid il-mio-team" alt="il-mio-team">

</section>
