<div class="row">

  <!-- Banner: La nostra Guida affidabile nel mondo del diritto -->
  <div class="col-lg-12">
    <div class="banner-container">
      <img src={{img_banner}} class="img-fluid" alt="studio-legale">
      <h1 class="overlay">
        {{title_banner_sx}}<br> {{title_banner_dx}}
      </h1>
    </div>
  </div>

  <!-- Sezione 1: Competenza è la nostra politica -->
  <section class="section-1">
    <div class="row d-flex justify-content-around">
      <!-- Colonna di sinistra -->
      <div class="col-lg-3 col-sx">
        <img src="assets/img/legge.jpg" class="img-fluid" alt="il-mio-volto">
      </div>
      <!-- Colonna di destra -->
      <div class="col-lg-5 col-dx">
        <h2>COMPETENZA &Eacute; LA NOSTRA POLITICA</h2>
        <p>Benvenuti nell'Universo dello Studio Legale Lex & Legis. Qui, la competenza è molto più di un semplice principio: è il cuore pulsante della nostra pratica. Ci impegniamo a fornire ai nostri clienti un servizio giuridico di prim'ordine, fondato su solide basi di conoscenza e esperienza pluriennale.</p>
      </div>
    </div>
  </section>

  <!-- Sezione 2: La nostra filosofia -->
  <section class="section-2">
    <div class="row d-flex justify-content-around">
      <!-- Colonna di sinistra -->
      <div class="col-lg-5">
        <h2>LA NOSTRA FILOSOFIA</h2>
        <p>Crediamo fermamente che la competenza sia l'elemento fondamentale per garantire risultati eccellenti. Il nostro team di avvocati è composto da professionisti altamente qualificati e dedicati, ognuno specializzato in diverse aree del diritto. Questo ci consente di offrire un'ampia gamma di servizi legali, garantendo che ogni aspetto della vostra situazione venga gestito con la massima perizia.</p>
      </div>
      <!-- Colonna di destra -->
      <div class="col-lg-5 offset-2 icon-content-container">
        <div class="row">
          <div class="col-lg-5 icon-content">
            <img src="assets/img/bilancia.png" class="img-fluid icone-filosofia" alt="bilancia">
            <p class="text-light">Esperienza</p>
          </div>
          <div class="col-lg-5 icon-content">
            <img src="assets/img/bilancia.png" class="img-fluid icone-filosofia" alt="bilancia">
            <p class="text-light">Efficienza</p>
          </div>
          <div class="col-lg-5 icon-content">
            <img src="assets/img/bilancia.png" class="img-fluid icone-filosofia" alt="bilancia">
            <p class="text-light">Quì per te</p>
          </div>
          <div class="col-lg-5 icon-content">
            <img src="assets/img/bilancia.png" class="img-fluid icone-filosofia" alt="bilancia">
            <p class="text-light">Professionalità</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
