<div class="row">

  <div class="col-lg-12">
    <div class="banner-container">
      <img src="assets/img/studio.jpg" class="img-fluid" alt="studio-legale">
      <div class="overlay">
        LA NOSTRA GUIDA AFFIDABILE<br> NEL MONDO DEL DIRITTO
      </div>
    </div>
  </div>

  <section>
    <div class="row d-flex justify-content-around">
      <div class="col-lg-3 col-sx">
        <img src="assets/img/legge.jpg" class="img-fluid" alt="il-mio-volto">
      </div>

      <div class="col-lg-5 col-dx">
        <h2>COMPETENZA &Eacute; LA NOSTRA POLITICA</h2>
        <p>Benvenuti nell'Universo dello Studio Legale Lex & Legis. Qui, la competenza è molto più di un semplice principio: è il cuore pulsante della nostra pratica. Ci impegniamo a fornire ai nostri clienti un servizio giuridico di prim'ordine, fondato su solide basi di conoscenza e esperienza pluriennale.</p>
      </div>
    </div>
  </section>

  <section class="section-2">

  </section>

</div>
